/*container*/
#wrap{ width: 100%; min-width: 1200px; margin-top: -1px; }
#container{ position: relative; margin: 0 auto; width:100%; background: #fff; }

/* header */
#header{ position: relative; width: 100%; border-bottom: 1px solid #c8d9e4;  }
.gnb{ width: 100%; height: 25px; background: #042961; }
.gnb_wrap{ width: 1200px; margin: 0 auto; position: relative; }
.gnb_menu{ float: right; margin: 7px 10px 0 0; font-size: 12px; }
.gnb_menu li{ float: left; margin-left: 12px; padding-left:12px; border-left:1px solid #ddd; }
.gnb_menu li:first-child{ margin-left: 0; padding-left: 0; border-left:none; }
.gnb_menu li a{ color: #fff; }
.lnb_wrap{ width: 1200px; height: 88px; margin: 0 auto; position: relative; }
.lnb_wrap h1{ position: absolute; top: 25px; }
#lnb{ float: right; height: 90px; margin-right: 14px; }
.lnb_menu{ display: inline-block; }
.lnb_menu li{ float: left; font-size: 22px; font-weight: bold; }
.lnb_menu li:first-child{ background: none; }
.lnb_menu li a{ display: block; width: 220px; height: 90px; line-height: 48px; text-align: center; color: #000; letter-spacing:-1px; line-height: 4; }
.lnb_menu li a.on{ color: #003483; }
.lnb_menu li a:hover{ color:#003483; }
.lnb_menu li.on{ color:#003483; } 


/* 2뎁스메뉴 */
#sub_lnb_cover{width:100%; height:0px; position:absolute; left:0; top: 113px; z-index:300; overflow:hidden; }
.cover_wrap { width: 100%; background: rgba(4,41,100,0.97); }
.sub_lnb_cover_in{ overflow: hidden; margin: 0 auto; width: 1200px; height: 206px; }
.sub_lnb.on{ padding-top: 40px; background: #01204e; }
.sub_lnb_cover{ float: right; height: 100%; margin:0 auto; margin-right: 10px; }
ul.sub_lnb{ float:left; width:220px; height:200px; padding-top: 40px; /*cursor: pointer;*/ }
ul.sub_lnb li{ text-align:left; padding: 6px 0 8px 24px; color:#fff; letter-spacing: -1px; }
ul.sub_lnb li a{ display: block; font-size:16px; color:#fff; }
ul.sub_lnb li a:hover{ text-decoration: underline; }
ul.sub_lnb li:first-child { font-size: 20px; font-weight: bold; margin-bottom: 10px; /* color:#abd8ff;*/ }
.sub_lnb.on li:first-child { color:#abd8ff; }

 
/* footer */
#footer{ width: 100%; margin: 0 auto; display: inline-block; background: #606060; margin-top:100px; }
.copyright { position: relative; width: 1200px; height: 140px; margin: 0 auto; }
.copyright h1{ position: absolute; top: 50px; left: 0; }
.copyright ul{ float: left; margin: 34px 0 0 280px; }
.copyright li{ color: #fff; letter-spacing: 0; padding-bottom: 12px; font-size: 14px; }
.copyright li:last-child{ color: #a9a9a9; font-weight: normal; margin-top: 10px; }


/*pagination*/
.pagination_wrap{ text-align: center; margin:30px 0; }
ul.pagination { display: inline-block; font-size:13px;}
ul.pagination li { float: left; margin-left: 3px; }
ul.pagination li:first-child{ margin-left:0; }
ul.pagination li a { min-width:28px; color: #6e6b68; display:inline-block; padding: 6px 0 7px 0; border:1px solid #ddd;}
ul.pagination li.active { background: #042961; font-weight:bold; }
ul.pagination li.active a{ color: #fff; border:1px solid #042961; }
ul.pagination .btn_prevNext { margin-left: 0; }
ul.pagination .btn_prevNext a{ border: none; background: none !important; }
