@charset "utf-8";
/* layer_popup - 학교검색 */
#layer_popup_wrap { display: block; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -227px; top: 110px; }
.layer_popup_con{ width:450px; border:2px solid #042961; z-index:3; }
.layerpop_top { padding:14px 10px 14px 0; background:#042961; overflow:hidden; }
.layerpop_top .tt{ float:left; margin-top:1px; padding-left:20px; font-size:18px; letter-spacing:-1px; color:#fff; font-weight: bold; }
.layerpop_top .bt_close{ float:right; }

.layerpop_con { padding:20px; background:#fff; font-size:16px; }
.layerpop_con .pop_content { background:#fff; text-align: left; }
.pop_content .top_searchBox{ border:1px solid #ddd; background: #f6f9fd; display:inline-block; width:368px; padding: 10px 20px; }
.pop_content .top_searchBox li{ float: left; line-height: 34px; }
.pop_content .top_searchBox .tt{ font-weight: bold; width:74px; }
.pop_content .top_searchBox input{  vertical-align: 1px; width:200px; height: 26px; }
.pop_content .top_searchBox button{ margin-left: 5px; width: 74px; height: 34px; line-height: 34px; border: none; color: #fff; background: #394b61; font-size:16px; }
.pop_content .pop_list{ margin-top: 5px; border:1px solid #ddd; padding:10px 50px; min-height: 140px; max-height: 249px; overflow-y:scroll; }
.pop_content .pop_list li{ line-height: 1.8; }
.pop_content .pop_list li a.on{ font-weight: bold; background: #ffdbdb; }
.pop_content .pop_list li a:hover{ text-decoration: underline; font-weight: bold; } 
.pop_content .pop_bt{ text-align: center; margin-top: 10px; }
.pop_content .pop_bt .bt_save { width: 90px; height: 38px; margin-left: 3px; line-height: 38px;
    border: none; color: #fff; background: #003483; vertical-align: middle; font-size: 15px; }
.pop_content .pop_bt .bt_cancle { width: 90px; height: 38px; margin-left: 3px; line-height: 38px;
    border: none; color: #fff; background: #999; vertical-align: middle; font-size: 15px; }

.popup-bg { width: 100%; height: 100%; overflow: auto; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; z-index: 500; }

/* popup - 효과적인 사용방법안내 */
#wrap_popupGuide { width:900px; height: 700px; }
.header { display:inline-block; width:900px; position: relative; background-color: #fff; padding: 24px 0; width:100%; }
.header h2{ text-align: center; font-size: 28px; font-weight: bold; font-family: 'Noto Sans KR', sans-serif, 'New Gulim'; }
#navbar { width:900px; overflow: hidden; border-bottom:2px solid #fff; }
#navbar .tabmenu { width:100%; letter-spacing: -1px; font-weight: bold; }
#navbar .tabmenu li{ width:25%; float:left; cursor: pointer; line-height: 32px; background: #9ab1c5; } 
#navbar .tabmenu li.on{ background-color: #3793e2; color: white; font-weight: bold; }
#navbar .tabmenu li:hover{ background-color: #3793e2; color: white; }
#navbar .tabmenu a { display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 18px; }
.content_popup { padding: 30px 20px; text-align: center; /*max-height: 700px; overflow-y: scroll;*/ }
.content_popup img{ border:1px solid #ddd; }
.sticky { position: fixed; top: 0; width: 100%; }
.sticky + .content { padding-top: 60px; }
.tab_1 { display: block; }
.tab_2 { display: none; }
.tab_3 { display: none; }
.tab_4 { display: none; }

.guide_wrap { text-align: left; margin:30px 10px; letter-spacing: -1px; }
.guide_wrap h3{ font-size: 20px; font-weight: bold; margin-bottom: 12px; padding-left: 20px; position: relative; }
.guide_wrap h3:before{ content: ""; position: absolute; top: 50%; left: 0; width: 14px; height: 14px; background: url("/ocu/images/bl/bl_blue_modal.png") 0 0 no-repeat; transform: translateY(-50%); }
.con_box { padding:20px 30px; background: #e6f0fa; line-height: 22px; }
.con_box li{ margin-bottom: 10px; font-size: 16px; }
.con_box span{ font-weight: bold; }
.con_box .num{ margin-right: 8px; font-family: 'Noto Sans KR', sans-serif, 'New Gulim'; letter-spacing:0; }
.con_box .po_red{ color:#ec0000; }
.con_box .po_blue{ color:#177ed6; font-weight: normal; }